#visual studio
.vs/
*.pdb
*.tlog
*.recipe
*.iobj
*.ipdb
*.log
*.idb
*.ilk

DummyClient/x64
Server/x64

Binary/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!Libraries/**/*.exe
!Tools/**/*.exe
!Common/**/*.exe


!Libraries/**/*.lib
!Tools/**/*.lib
!Common/**/*.lib

